services:
  # --- DATABASE ---
  db:
    image: postgres
    container_name: homeassistant-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: homeassistant-db
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: mysecretpassword
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - /mnt/nvme_data/databases/postgresql:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # --- MQTT ---
  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - /mnt/nvme_data/app_data/mosquitto/config:/mosquitto/config
      - /mnt/nvme_data/app_data/mosquitto/data:/mosquitto/data
      - /mnt/nvme_data/app_data/mosquitto/log:/mosquitto/log

  # --- HOME ASSISTANT ---
  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:2025.9
    container_name: homeassistant
    restart: unless-stopped
    privileged: true
    network_mode: host
    depends_on:
      - db
      - mqtt
    environment:
      - TZ=America/Toronto
    volumes:
      - /mnt/nvme_data/app_data/homeassistant:/config
      - /run/dbus:/run/dbus:ro

  # --- ZIGBEE2MQTT ---
  zigbee2mqtt:
    image: koenkk/zigbee2mqtt
    container_name: zigbee2mqtt
    restart: unless-stopped
    volumes:
      - /mnt/nvme_data/app_data/zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - "8080:8080"
    environment:
      - TZ=America/Toronto
    devices:
      # Проверь этот путь через ls -l /dev/serial/by-id
      - /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_88729ed0803bec11a4d2a4957a0af07f-if00-port0:/dev/ttyUSB0

  # --- VOICE: WHISPER ---
  whisper:
    image: rhasspy/wyoming-whisper
    container_name: whisper
    restart: unless-stopped
    volumes:
      - /mnt/nvme_data/app_data/whisper:/data
    ports:
      - "10300:10300"
    command: --model tiny-int8 --language ru

  # --- VOICE: PIPER ---
  piper:
    image: rhasspy/wyoming-piper
    container_name: piper
    restart: unless-stopped
    volumes:
      - /mnt/nvme_data/app_data/piper:/data
    ports:
      - "10200:10200"
    command: --voice ru_RU-irina-medium
